

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/background\ portifolio.png);
}

#container{
    display: flex;
}

/* começo do navbar */
header{
    position: relative;
}

nav{
    position: fixed;
    width: 200px;
    height: 100%;
    background-image: url(../img/background\ nav\ desfoque.png);
    background-color: #ffffffa6;
    border: 1px solid #000000af;
}


ul{
    width: 100%;
    margin-top: 150px;
    background: url(../img/Captura\ de\ tela\ 2024-03-14\ 215243.png) no-repeat center top 2em;
    padding-top: 200px;
    text-align: center;
    /* border: 1px solid blue; */
    list-style: none;
}

ul li{
    padding: 25px 0px;
}

ul li a{
    padding: 1rem;
    font-size: 1em;
    border-bottom:1px solid #CCC ;
    color: #000;
    text-decoration: none;
}

ul li a:hover{
    text-shadow: -5px 5px#969494a2;
}

/* final do navbar */

main{
    width: 100%;
    margin-left: 200px;
}

#formulario{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 9%;
}

.redes{
    text-align: center;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 200px;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 10px;
    background: #69696957;
}

.redes h1{    
    color: #515151;
    text-decoration: underline;

}

.redes div{
    padding: 20px;
}

#iconwhatsapp a{
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    border-bottom:1px solid #fff ;
}

#iconwhatsapp a:hover{  
    border:none ;  
    transition:0.3s;
    color: #00000000;
    background: url(../img/icons/whatsapp.1018x1024.png)no-repeat center;
}

#iconemail a{
    border-bottom:1px solid #fff ;
    padding: 10px 28px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

#iconemail a:hover{
    border:none ;
    transition:0.3s;
    color: #00000000;
    background: url(../img/icons/envelope.1024x769.png)no-repeat center;
}



/* area de inicio do form----------------------------------------------------- */

form{
    justify-content: center;
    width: 400px;
    height: 600px;
    text-align: center;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 10px;
    background: #6969692d;
    padding: 10px;
    margin: 20px;
}

form .preenchimento h1{
    color: #515151;
    text-decoration: underline;
}


#botoes{
    margin: 0px 90px;
}

.group {
 position: relative;
}

.input {
 font-size: 16px;
 padding: 10px 10px 10px 5px;
 display: block;
 width: 200px;
 border: none;
 border-bottom: 1px solid #515151;
 background: transparent;
}

.input:focus {
    border-bottom: 1px solid #51515100;
 outline: none;
}

label {
 color: #ffffff;
 font-size: 18px;
 font-weight: normal;
 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
 top: -20px;
 font-size: 14px;
 color: #5264AE;
}

.bar {
 position: relative;
 display: block;
 width: 200px;
}

.bar:before, .bar:after {
 content: '';
 height: 2px;
 width: 0;
 bottom: 1px;
 position: absolute;
 background: #5264AE;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.bar:before {
 left: 50%;
}

.bar:after {
 right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
 width: 50%;
}

.highlight {
 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

.input:focus ~ .highlight {
 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
 from {
  background: #5264AE;
 }

 to {
  width: 0;
  background: transparent;
 }
}

#assunto{
    border-radius: 10px;
    background: #97979700;
}

#assunto::placeholder {
    border-radius: 10px;
    color: #ffffff;
}

.cssbuttons-io-button {
    margin-left: 120px;
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  

/* area de final do form----------------------------------------------------- */
